{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div style="columns: 2;">
        <h2 style="padding-top: 10px; margin-bottom: -10px;">{{ request.user.email }}</h2>
    </div>
    <div align="right">
        <p style="margin-bottom: -20px;" class="btn btn-sm btn-link" href="{% url 'logout' %}">Cerrar sesión</p>
    </div>
    <hr>

    <div id="emails-view">
    </div>

    <div id="emails-details">
    </div>


    <div id="compose-view">
        <h3>Nuevo Correo</h3>
        <form id="compose-form">
            <div class="form-group">
                De: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                Para: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Asunto">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Mensaje"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}