{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2 style="color: white;"><br><br><br></h2>
                
                <div>
                    <a style="color: black; text-align: left;" id="inbox" class="btn btn-link">Inbox</a>
                </div>
                <div>
                    <a style="color: black; text-align: left;" id="compose" class="btn btn-link">Compose</a>
                </div>
                <div>
                    <a style="color: black; text-align: left;" id="sent" class="btn btn-link">Sent</a>
                </div>
                <div>
                    <a style="color: black; text-align: left;" id="archived" class="btn btn-link">Archive</a>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <h2 style="color: white;"><br></h2>
            </div>
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>